@import "../lib/bootstrap";


body {
	div.info {
		padding-top: 20px;
	}
	.container {
		.content{
			.chat {
				.content{
					border-top: 1px solid lightgrey;
					border-left: 1px solid lightgrey;
					border-right: 1px solid lightgrey;
					border-radius: 6px 6px 0 0;
					max-height: 30 * 7px;
					overflow: scroll;
					p {
						margin: 0;
						padding: 5px;
					}
					p.even{
						background: #EAEAEA;
					}
					p.info{
						color: #808080;
						span {

						}
					}
				}
			}
		}
	}
	.footer{
		margin-top: 30px;
		text-align: center;
	}
}
